:root{
    --main-color: linear-gradient(to top right, whitesmoke, gray); /* Legacy fallback */
    --main-background-color: whitesmoke;
    --main-text-color: #333;
    --button-color: goldenrod;
    --button-hover-color: brown;
    --hover-text-color: white;
    --navbar-bg-color: #333;
    --navbar-hover-bg-color: var(--button-color);
    --zebra-color: #e0e0e0;
    --border-color: rgba(122, 122, 122, 0.5);
    --cart-bg-color: var(--main-background-color);
    --cart-text-color: var(--main-text-color); 
    --modal-bg-color: var(--main-background-color); 
    --modal-text-color: var(--main-text-color);

}

body{
    background: var(--main-background-color);
    color: var(--main-text-color);
    /* padding-top: 40px; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

button {
    background-color: var(--button-color);
    color: var(--hover-text-color);
}

button:hover{
    background-color: var(--button-hover-color);
}

/* enable/disable body scroll when modal is open */
.no-scroll
{
    overflow: hidden;
}

.table-number-container {
    display: flex;
    justify-content: center; /* Center the table number */
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    margin-bottom: 1px; /* Add margin below container */
    position: relative;
    top: 90px;

}

.table-number {
    text-align: center;
    font-size: 2rem;
    /* color: var(--hover-text-color); */
}

/* Navbar container */
.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--navbar-bg-color);
    padding: 0 20px;
    height: 80px;
    z-index: 999;
}

/* Navbar list items */
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Each navbar link */
.navbar a {
    color: var(--hover-text-color);
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    transition: background-color 0.3s;
}

/* navbar tabs */
.navbar li a[href*="#"]
{
    font-size: 1.2rem;
}

.navbar a:hover:not(.logo-title-container), .navbar a.active {
    background-color: var(--navbar-hover-bg-color);
}

.navbar li {
    margin: 0;
}

.logo-title-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align items in the center */
    justify-content: space-between;
    height: auto;
    padding: 0;
}

.title {
    margin-left: 10px; /* Add space between logo and title */
    font-size: 24px; /* Adjust font size if needed */
    color: white;
    flex-grow: 1;
    text-align: left;
    transition: width 0.3s ease; /* Smooth resizing transition */
}

.logo-image {
    width: 80px; /* Set the default width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure logo does not overflow */
    transition: width 0.3s ease; /* Smooth resizing transition */
}

 .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--button-hover-color);
    width: 0; /* Initially 0 width */
    transition: left 0.3s ease, width 0.3s ease;
}

.navbar a:hover .underline, .navbar a.active .underline {
    width: 100%; /* Expand the underline to fill the width of the a tag */
}

h1{
    text-align: center;
    color: var(--main-text-color);
}

/*This is where the title should be*/
header{
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 20px;
    height: 180px;
    text-align: center;
}

header .title{
    font-size: 48px; /* Adjust the font size as needed */
    font-weight: bold;
    color: var(--hover-text-color);

}

header .icon-cart{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: -15px;
    margin-left: 75%;
    z-index: 1005;
    color: var(--hover-text-color);
}

header .icon-cart:hover{
    cursor: pointer;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    color: var(--hover-text-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
    z-index: 1005;
}

/*.container{*/
/*    width: 900px;*/
/*    max-width: 90vw;*/
/*    height: 550px;*/
/*    background-position: center;*/
/*    !*border: 5px solid black;*!*/
/*    !*!*border-radius: 10px;*!*/
/*    !*overflow: hidden;*!*/
/*    margin: 0 0;*/
/*    padding-top: 20px;*/

/*    position: relative;*/
/*    align-items: stretch;*/
/*}*/

/*.container img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/

/*    transition: opacity 0.3s ease;*/
/*    display: block;*/
/*}*/

/*.container img:hover {*/
/*    box-shadow: 0 0 20px rgba(0,0,0,0.5);*/
/*    opacity: 0.7;*/
/*}*/

/* CHECKOUT MODAL (pop-up window) */
.checkout-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    animation: fadeIn 0.3s ease-out;
}

.modal-checkout-content {
    background: var(--modal-bg-color);
    color: var(--modal-text-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Max width for larger screens */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
}

.close-modal {
    color: var(--main-text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal-popup {
    color: var(--main-text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-modal:hover,
.close-modal:focus,
.close-modal-popup:hover,
.close-modal-popup:focus {
    color: var(--button-hover-color);
    text-decoration: none;
    cursor: pointer;
}

.zebra-list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.zebra-list div:nth-child(even) {
    background-color: var(--zebra-color);
    color: var(--cart-text-color)
}

.zebra-list div {
    background-color: var(--cart-bg-color); /* Matches cart */
    color: var(--cart-text-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 0.5px solid var(--border-color);
}

.total-footer {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
}

.total-footer p{
    margin: 0;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-footer button {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--hover-text-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-footer button:hover {
    background-color: var(--button-hover-color);
    color: var(--hover-text-color);
}
/* END CHECKOUT MODAL */

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 120px;
}

.listProduct .item img{
    margin: auto;
    border-radius: 10%;
    width: 170px;
    height: 170px; 
    object-fit: cover;
    background-color: var(--main-color);
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item{
    background-color: var(--border-color);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    text-align: center;
    
}

.listProduct .item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.listProduct .item .foodName{
    font-weight: bold;
    font-size: large;
    margin: auto;
    padding: 5px 0; /* Add padding for spacing */
    line-height: 1.2; /*Adjust line-height for vertical centering */
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

/* Settings Button Modal */
.settings-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/* Settings Modal Content */
.settings-modal-content {
    background: var(--modal-bg-color);
    color: var(--modal-text-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease-out;
}

/* Settings Modal Dropdown */
.settings-modal-content select {
    margin-bottom: 20px; /* Adds space below the dropdown */
    padding: 10px; /* Makes the dropdown more visually appealing */
    width: 100%; /* Makes it stretch across the modal */
    box-sizing: border-box; /* Ensures padding doesn't exceed width */
    font-size: 16px; /* Matches modal font sizes */
}

/* Settings Modal Title */
.settings-modal h2 {
    font-size: 32px;
    font-weight: bold;
    color: var(--main-text-color);
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* Settings Modal Description */
.settings-modal label {
    font-size: 18px;
    color: var(--main-text-color);
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 10px;
    display: block;
}

/* Close Button */
.close-settings {
    color: #aaa;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.close-settings:hover,
.close-settings:focus {
    color: black;
    text-decoration: none;
}

/* Settings Button */
.settings-button {
    position: fixed; /* Fixed to stay in place when scrolling */
    bottom: 20px; /* Distance from the bottom of the screen */
    left: 20px; /* Distance from the right edge of the screen */
    background-color: var(--border-color); /* Use navbar background color */
    border: none; /* Remove any border */
    border-radius: 50%; /* Make it circular */
    width: 50px; /* Button width */
    height: 50px; /* Button height */
    display: flex; /* Center the icon */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    cursor: pointer; /* Show pointer on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    z-index: 1000; /* Ensure it stays above other elements */
}

.settings-button:hover {
    background-color: var(--button-hover-color); /* Add hover effect */
}

/* Settings theme selection */
.theme-selection {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Align items in the center vertically */
    justify-content: space-around; /* Ensure everything is aligned to the left */
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}

.theme-selection label {
    font-size: 16px;
    color: var(--main-text-color); /* Adjust based on the theme */
    margin-right: 10px; /* Adds some space between the label and the dropdown */
}

#themeSelect {
    width: 180px;
    padding: 8px;
    font-size: 14px;
}

/* foodPrice */
.listProduct .item .foodPrice {
    margin-bottom: 10px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listProduct .item .foodDescription{
    margin-bottom: 10px;
    text-align: center;
    display: none;
}

.listProduct .item .price{
    letter-spacing: 3px;
    font-size: small;
    margin-top: auto;
}

.listProduct .item button{
    background-color: var(--button-color);
    color: var(--hover-text-color);
    padding: 5px 10px;
    border-radius: 20px;
    /*margin-top: 10px;*/
    border: none;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.listProduct .item button:hover{
    background-color: var(--button-hover-color);
    color: var(--hover-text-color);
}

svg{
    width: 2rem;
}

.cartTab{
    width: 400px;
    height: calc(100vh - 80px);
    background: var(--cart-bg-color);
    color: var(--cart-text-color);
    position: fixed;
    right: -400px;
    top: 80px;
    display: flex;
    flex-direction: column; /* Simplify layout with flexbox */
    transition: right 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
    z-index: 1000; /* Ensure it stays above other elements */
    border: solid;
    border-color: var(--border-color);
}


body.showCart .cartTab{
    right: 0;
}

body.showCart .container{
    transform: translate(0px);
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: bold;
    background: var(--main-background-color);
    border-bottom: 5px solid black;
}

.cartTab .cartButtons{
    display: flex;
    justify-content: space-evenly; /* Better alignment */
    padding: 15px 20px;
    border: 1px solid slategray; /* Add top border for separation */
}

.cartTab .cartButtons button{
    background-color: var(--button-color); /* Distinct color for buttons */
    color: var(--hover-text-color);
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    margin: 0 1px;
    transition: background-color 0.2s ease;
}

.cartTab .cartButtons button:hover{
    background-color: var(--button-hover-color); /* Distinct color for buttons */
    color: var(--hover-text-color);
}

.cartTab .cartButtons .checkOut {
    background-color: var(--button-color);
}

.cartTab .cartButtons .checkOut:hover{
    background-color: var(--button-hover-color); /* Distinct color for buttons */
}

.cartTab .cartButtons .close{
    background-color: var(--button-color);
    color: var(--hover-text-color);
}

.cartTab .cartButtons .close:hover{
    background-color: var(--button-hover-color) ; /* Distinct color for buttons */
    color: var(--hover-text-color);
}

.cartTab .listCart {
    background: var(--main-background-color);
    color: var(--main-text-color);
    overflow-y: auto; /* Allow scrolling for long lists */
    padding: 5px;
    flex-grow: 1; /* Take up remaining space */
}

.cartTab .listCart .item img{
    grid-area: image;
    width: 90px;
    height: 90px;
    border-radius: 5px; /* Rounded corners for images */
    object-fit: cover; /* Maintain aspect ratio */
    margin: 10px 10px;
}

/* Total Price and Items in Cart */
.cartSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--main-color);
    border-top: 1px solid slategray;
    margin-top: 10px; 
    max-width: 100%;
    font-weight: bold;
}

.totalPriceAllItems {
    text-align: right;
    flex-shrink: 0;
}

.totalQuantityAllItems {
    text-align: left;
    flex-shrink: 0;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-areas:
        "title image"
        "buttons price";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid slategray; /* Add bottom border for separation */
    border-radius: 5px;
    margin-bottom: 10px;
}

.listCart .item .quantity {
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 4px 25px;
}

.listCart .quantity .delete { /* Style for the trash can icon */
    font-size: 1.3rem;
    cursor: pointer;
}

.listCart .item .name {
    grid-area: title;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
}

.listCart .quantity span{
    width: 30px;
    height: auto;
    color: var(--cart-bg-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 0 8px;
}

.listCart .quantity span:hover  {
    background-color: var(--button-hover-color);
    transform: scale(1.1);
    color: var(--hover-text-color);
}

.listCart .quantity span:active {
    transform: scale(0.95);
}

.listCart .item .totalPrice {
    grid-area: price;
    text-align: right;
    font-size: 18px;
    color: var(--main-text-color);
    font-weight: bold;
    margin: auto;
}

/* To style the select dropdown in shopping cart*/
.listCart .quantity select {
    width: 55px; /* Adjust width as needed */
    font-size: 16px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    background-color: #f9f9f9;
    margin: 0 8px; /* Consistent margin with other elements */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    -webkit-appearance: none; /* Remove default dropdown arrow in WebKit browsers */
    -moz-appearance: none; /* Remove default dropdown arrow in Firefox */
    appearance: none; /* Remove default dropdown arrow in other browsers */
}

.listCart .quantity select:focus {
    border-color: gold;
    outline: none;
}


.listCart .totalPrice {
    margin-left: 10px; /* Add space between the quantity and the price */
}

.listCart .item:nth-child(even){
    background-color: var(--zebra-color);
    color: var(--cart-text-color)
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

.menu-item {
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.content:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.accordion-button:hover{
    background-color: green;
}

.image-wrapper {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

.logo{
    position: fixed;
    top: 1%;
    left: 1%;
    z-index: 1001; /* Ensure the logo is above other elements*/
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content {
    background: var(--modal-bg-color);
    color: var(--modal-text-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease-out;
}

.item-modal-title{
    font-size: 32px;
    font-weight: bold;
    color: var(--main-text-color);
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.item-modal-description{
    font-size: 18px;
    color: var(--main-text-color);
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0 10px;
}

.close {
    color: #aaa;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* This is for the mobile view of the website */
@media (max-width: 767px){
    .title{
        display: none;
    }
    .logo-image{
        width: 6rem;
        height: auto;
        object-fit: contain;
        display: block;
    }

    .settings-button{
        bottom: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
    }

    .logo-title-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .navbar li a[href*="#"] {
        font-size: larger;
        font-weight: bold;
    }

    .navbar {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        /* padding: 0 15px; */
        justify-content: space-between;
        background-color: var(--navbar-bg-color); /* Ensure navbar is visible */
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        flex-grow: 1;
        padding: 0;
        margin: 0;
    }

    .navbar a {
        text-align: center;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        font-size: 1rem;
        padding: 0 10px;
        height: 5.6rem;
    }

    .cartTab {
        width: 100%;
        height: inherit;
        right: -100%; /* Initially hide the cartTab off-screen */
        top: 0; /* Adjust top to cover the full screen */
        position: fixed;
        overflow-y: auto;
    }

    .icon-cart {
        align-self: flex-end;
    }

     body.showCart {
         position: fixed; /* Prevent background scrolling */
         top: 0;
         left: 0;
         width: 100%;
         height: 100%; /* Ensure body covers entire viewport */
         overflow: hidden; /* Hide any background overflow */
     }

    body.showCart .cartTab {
        right: 0; /* Slide in the cartTab when open */
    }

    .quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .totalPrice {
        font-size: 1.2em;
    }

    .btn {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        padding: 10px;

    }

    .totalPrice,
    .quantity,
    .foodName,
    .foodPrice {
        font-size: 14px;
        font-weight: 600;
    }
    .listProduct {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        padding: 10px;
    }

    .listProduct .item {
        padding: 10px;
    }

    .listProduct .item img {
        width: 100%;
        /* height: auto; */
        border-radius: 8px;
    }

    .listProduct .item .foodName,
    .listProduct .item .foodPrice,
    .listProduct .item .addCart {
        font-size: 14px;
    }

    .modal-footer button{
        display: inline-block;
        width: calc(33.33% - 10px);
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
}

@media (max-width: 424px){
    .logo-title-container{
        display: none;
    }

    .navbar a{
        padding: 0 6px 0 4px;
    }

    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop (Default) website responsive stuff  */
@media screen and (min-width: 1024px){
    .listProduct{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* This section is used for the Tables/Laptops */
@media (min-width: 768px) and (max-width: 1023px)
{
    .cartTab {
        width: 100%;
        height: 100%;
        right: -100%; /* Initially hide the cartTab off-screen */
        top: 0; /* Adjust top to cover the full screen */
        position: fixed;
    }

    .navbar {
        height: 80px;
        justify-content: space-around;
        padding: 0 20px;
    }

    .navbar ul {
        flex-direction: row;
        justify-content: space-around;
        overflow-x: auto;
        padding: 0;
    }

    .navbar li {
        margin: 0 10px;
        white-space: nowrap;
    }

     .navbar a {
        font-size: 1.1rem;
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .navbar li a[href*="#"]{
        font-size: x-large;
    }

    .listProduct{
        grid-template-columns: repeat(3, 1fr);
        font-size: 16px;
    }

    .addCart {
        font-size: 1.5rem;
    }
    .listProduct .item .foodPrice {
        font-size: 2rem;
    }
    .listProduct .item .foodName {
        font-size: 2rem;
    }
    .listProduct .item img {
        width: 200px;
        height: 200px;
        max-width: 300px;
        margin: 0 auto;
    }

    .logo-title-container{
        flex-direction: row;
        align-items: center;
        padding: 3px 0;
    }

    .logo-image{
        width: 8.5rem;
        margin-left: -45px;
    }

    .title {
        display: none;
        font-size: 2rem;
        margin-top: 5px;
        margin-left: -45px;
    }

    .table-number-container{
        font-size: inherit;
    }

    .settings-modal h2{
        font-size: inherit;
        margin-bottom: 2.5rem;
    }

    .theme-selection label{
        font-size: inherit;
    }

    .settings-modal-content{
        font-size: x-large;
        width: 40rem;
        height: 17rem;
        max-width: 600px;
    }

    .close-settings{
        font-size: 2.3rem;
    }

    .settings-button{
        width: 5rem;
        height: 5rem;
    }

    #themeSelect{
        width: 200px;
        height: 60px;
        padding: 8px;
        font-size: 20px;
    }

    .item-modal-title{
        font-size: xx-large;
    }

    .item-modal-description{
        font-size: x-large;
    }

    .close-modal-popup{
        font-size: 2.8rem;
    }

    .listCart .item .name{
        font-size: xx-large;
    }

    .listCart .item .totalPrice{
        font-size: xx-large;
    }

    .listCart .item .quantity{
        justify-content: space-around;
        padding: 0 5rem 1rem 2rem;
    }

    .listCart .quantity select{
        font-size: 2.3rem;
    }

    .listCart .quantity span{
        font-size: 2.7rem;
        height: 4rem;
        width: 4rem;
    }

    .listCart .quantity .delete{
        font-size: 2.3rem;
    }

    .cartTab .listCart .item img{
        width: 12rem;
        height: 11rem;
        margin: 20px 50px;
    }

    .cartSummary{
        font-size: xx-large;
    }

    .cartTab .cartButtons button{
        font-size: xx-large;
    }

    .modal-checkout-content{
        font-size: x-large;
        max-width: 800px;
        width: 80%; 
    }

    svg{
        width: 2.5rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

